{% extends 'base.html' %}
{% block content %}

	 <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">
          <h1><b>About the Site</b></h1>
          <p style="font-size:20px">Welcome.  This site is built using Python, Django framework, HTML, CSS, Javascript, and JQuery</p>
    
          <h2></b>About me</b></h2>
          <p style="font-size:20px">Hello My name is Romeo and here is my personal site.  I am a junior Python developer and I am very passionate about learning and doing things with Python and  Django framework.  Creating some application and sharing it with everyone. I will write some of my progress on my <a href = "/main/blog/">blog</a>.</p>
    
          <h2><b>Resume</b></h2>
          <h4><Strong>Professional Summary</strong></h4>
          <ul>
          	<li> Strong organization skill and ability to multi-task to meet competing deadlines</li>
          	<li> Ability to work efficiently and effectively under pressure</li>
         	<li> Ability to work well ina structured and team setting</li>
          	<li> Enthusiastic, fast-learner and detail-oriented</li>
         	<li> Received various superior performance awards during 10 years of military service</li>
          	<li> Excellent communications both written and oral</li>
          </ul>
          <h4><b>Work Experience</b></h4>
          <p style = "margin-bottom: -5px" ><a href = "http://www.radioflag.com">RadioFlag Inc.</a><strong></strong>, Newport Beach, CA.</p>
          <p style = "margin-bottom: -5px" >Lead Technical Coordinator</p>
          <p>December 2012 - Present</p>
          <ul>
          	<li> Liaison between development team and marketing team to coordinate any ongoing project activities.</li>
          	<li> Helped develop quality testing plans to support the quality of the software on every platform (i.e. Web, Android, Apple, Blackberry, and Windows phones)</li>
         	<li> Resolved over 50+ technical issues regarding streams, media players, and features of the application.</li>
          	<li> Train and assign new interns with different project assignments to gain real world experiences.</li>
         	<li> Lead and manage all data entry as it relates to technical development and marketing.</li>
          	<li> Build marketing messages to target specific user/s based on their status using python and HTML format.</li>
          </ul>
          <p style = "margin-bottom: -5px" ><strong>Golden State Foods</strong>, Industry, CA.</p>
          <p style = "margin-bottom: -5px" >Maintenance Technician</p>
          <p>December 2008 - Present</p>
          <ul>
          	<li> Troubleshoot, maintained and repaired various manufacturing and process machines equipment (L-18, L-25, fillers, case packers, box formers, inkjet coders, and wrappers).</li>
          	<li> Troubleshoot and Repaired various VFD, PLC and HMI problems that includes upload programs to PLC and HMI's, configure VFD's to specific machine specification.</li>
          	<li> Accustomed to working in fast paced environments, meeting deadlines and production goals.</li>
          	<li> Oversees outside contractor and provide assistance if necessary to complete the work order.</li>
          	<li> Operated, maintained, and repaired boilers, chillers, cooling towers, low pressure compressor, waste water treatment, and other utility electro-mechanical equipment throughout manufacturing facility.</li>
          </ul>
          <p style = "margin-bottom: -5px" ><strong>United States Navy</strong>
          <p style = "margin-bottom: -5px" >Honorable Discharged</p>
          <p>May 1999 - December 2008</p>
          <ul>
          	<li> Conducted instructor-led specialized skill training (mechanical/engineering) to over 30,000 newly recruit military personnel per year.</li>
          	<li> Assisted in the development and design of training materials and course curriculum focused on professional development of newly recruited sailors.</li>
          	<li> Assumed leadership role as the Work Center Supervisor, which included coordinating various Planned Maintenance Systems tasks; verifying timely completion of all scheduled and on-demand maintenance; completing various required reports; and, overseeing work center's inventory and ordering supplies.</li>
          	<li> Organized and lead emergency response drills for 14 naval personnel.</li>
          	<li> Operated, maintained and repaired internal combustion engines, boilers and main propulsion, power transmission equipment for assigned vessel.</li>
          </ul>
          <h4><b>Education</b></h4>
          
          <p style = "margin-bottom: -5px" ><strong>DeVry University</strong> - Pomona, CA.</p> 
          <p style = "margin-bottom: -5px" >Bachelo of Science in electronics Engineering Technology</p>
          <p style = "margin-bottom: -5px" >Graduated 2012</p>
          <p>Magna Cum Laude</p>
          <ul>
          	<li> Trained in analog and digital modeling and simulation tools.</li>
          	<li> Control Systems & Signal Processing</li>
          	<li> Microprocessors and controller design and analysis</li>
          	<li> Computer programming with C/C++, Java, OOP, Data Structures and Algorithm</li>
          </ul>
          
          <p><strong>Other Skills</strong></p>
          <ul> 
          	<li> Python and Django Framework</li>
          	<li> HTML, CSS, Javascript, Jquery, PHP</li>
          	<li> Arduino MicroControllers</li>
          </ul>
          
          <h4><b>MILITARY EDUCATION (OTHER CERTIFICATION)</b></h4>
          <p><strong>United States Navy</strong></p>
          <ul>
          	<li> Instrument and Gauge Calibration Certification (February 2008)</li>
          	<li> Master Training Specialist (October 2006)</li>
          	<li> Instructor Certification (December 2004)</li>
          	<li> Certified Enlisted Surface Warfare Specialist Breast Insignia (April 2003)</li>
          	<li> Leadership Development Program (February 2003)</li>
          	<li> Gas Turbine Mechanical/Electrical Class A (December 1999)</li>
          	<li> Engineering Mechanical Core (October 1999)</li>
          	<li> Engineering Common Core (September 1999)</li>
          </ul>
          
          
	</div><!-- /.col-xs-12 main -->
          
 
{% endblock %}
