<html>
<head>
	<link href="/media/static/css/other/cover.css" rel="stylesheet">
</head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<h1 class="cover-heading">Welcome to My Web Page</h1>
					<p class="lead">Welcome this web application is made with Python using Django framework on Google App Engine</p>
					<p class="lead"><a class="btn btn-lg btn-default" href="/main/about/">Learn More</a></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
